{% extends "base.html" %}

{% block content %}

<div class="modal fade" id="main_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <span class="modal-title"></span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <!-- <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div> -->
    </div>
  </div>
</div>



<div class="container">
  <h2>{{gallery_name}}</h2>
  <br>
  Click on an image for a larger version and code (if available)
  <hr>
  <div class="flex-row">
    {% for image in images %}
    <figure class="figure" onclick="display_image('{{image['image']}}', '{{image['title']}}', '{{year}}')">
      {% if image['title'] %}
      <figcaption class="figure-caption figure-title">{{image['title'] | safe}}</figcaption>
      {% else %}
      <br>
      {% endif %}

      <img class="img-responvie" src="{{ url_for('static', filename='images/%d/thumbs/%s'%(year, image['image'])) }}">
      <figcaption class="figure-caption">{{image['author']}}</figcaption>
    </figure>
    {% endfor %}
  </div> <!--row-->
</div> <!-- /container -->

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

{% endblock %}
