.modal-header {
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

.figure-title {
    text-align: center;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

figure {
    padding-right: 15px;
    padding-bottom: 5px;
}

.figure-caption-title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding-right: 15px;
    padding-bottom: 5px;
}
